<app-header></app-header>


<div class="container-fluid">
    <img src="assets/bg.jpg" alt="" style="width: 100%;height: 100%;">

    <div class="text">
        <h2>There Are <span style="color: blue;">93,178</span> <br>
            Postings Here For you!</h2>
        <p>Find Jobs, Employment & Career Opportunities</p>
    </div>

    <!--------------- SEARCH BAR AND JOB SERACH WITH LOACTION CODE---------------- -->
    <form class="form-search filter-listing-form-wrapper">
        <div class="filter-listing-form horizontal">
            <div class="main-inner clearfix">
                <div class="content-main-inner">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 has-border">
                            <div class="form-group form-group-title  ">
                                <div class="form-group-inner inner has-icon">
                                    <i class="fa fa-search" style="font-size:24px"></i>
                                    <input type="text" name="filter-title" class="form-control " value=""
                                        id="sPcMB_title" placeholder="Job title, keywords">
                                </div>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="col-xs-12 col-md-4 ">
                            <div class="form-group form-group-location   tax-select-field">
                                <div class="form-group-inner inner has-icon">
                                    <i class="fa fa-map-marker" style="font-size:24px"></i>
                                    <select name="filter-location" class="form-control select2-hidden-accessible"
                                        id="sPcMB_location" data-placeholder="City or postcode" tabindex="-1"
                                        aria-hidden="true">

                                        <option value="">City or postcode</option>
                                    </select>
                                    <span class="select2 select2-container select2-container--default" dir="ltr"
                                        style="width: 100%;">
                                        <span class="selection">

                                            <span class="select2-selection select2-selection--single"
                                                aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                aria-labelledby="select2-sPcMB_location-container" role="combobox">

                                                <span class="select2-selection__rendered"
                                                    id="select2-sPcMB_location-container" role="textbox"
                                                    aria-readonly="true">

                                                    <span class="select2-selection__placeholder">
                                                    </span></span>
                                                <span class="select2-selection__arrow" role="presentation">
                                                    <!-- <b role="presentation"></b> -->
                                                </span></span></span><span class="dropdown-wrapper"
                                            aria-hidden="true"></span></span>
                                </div>
                            </div><!-- form-group -->
                        </div>
                        <div class="wrapper-submit flex-middle col-xs-12 col-md-3"
                            style="display: flex; justify-content: center;">
                            <button type="button" class="btn btn-primary btn-lg"
                                style="background-color: #1967D2; color: white; border-radius: 60px; width: 200px;">Find
                                Jobs</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-trending">
            <p>Popular Search:&nbsp;&nbsp; <span style="color: grey;">Designer, Developer, Web, IOS, PHP, Senior
                    Engineer</span></p>
        </div>
    </form>
    <!---------------END OF  SEARCH BAR AND JOB SERACH WITH LOACTION CODE---------------- -->


</div><!-- END OF CONTAINER-FLUID -->


<br><br>
<div class="container-fluid job​">
    <h3 class="job">Featured Jobs​</h3>
    <p class="para">Know your worth and find the job that qualify your life</p>

    <h6 style="  text-align: right;"><a href="">Browse All Jobs ></a></h6>
</div><!-- END OF CONTAINER-FLUID JOB -->


<!-- -------------------JOBPORTALS ------------------------>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><img src="assets/y2.jpg" style="width: 50px;height: 60px;">&nbsp;Junior Graphic
                    Designer(Web)<span style="color: green;font-size: 15px;">Featured</span></h5>
                <p class="card-text">Design, Development &nbsp; &nbsp; &nbsp;New York &nbsp; $150 - $180 / Week</p>
                <a href="#" class="btn btn-outline-primary" style=" border-radius: 70px;width: 20%;">Full Time</a>&nbsp;
                &nbsp; &nbsp;<a href="#" class="btn btn-outline-danger"
                    style=" border-radius: 70px;width: 20%;">Urgent</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><img src="assets/y1.jpg" style="width: 50px;height: 60px;">&nbsp;Finance Manager
                    & Health &nbsp; <span style="color: green;font-size: 15px;">Featured</span></h5>
                <p class="card-text">Design, New York &nbsp; &nbsp; &nbsp; $450 - $500 / month</p>
                <a href="#" class="btn btn-outline-primary" style=" border-radius: 70px;width: 20%;">Full Time</a>&nbsp;
                &nbsp; &nbsp;<a href="#" class="btn btn-outline-danger"
                    style=" border-radius: 70px;width: 20%;">Urgent</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><img src="assets/y9.jpg" style="width: 50px;height: 60px;">&nbsp;General Ledger
                    Accountant&nbsp; <span style="color: green;font-size: 15px;">Featured</span></h5>
                <p class="card-text">Design, Marketing &nbsp; &nbsp; &nbsp;New York &nbsp; $50 - $68 / day</p>
                <a href="#" class="btn btn-outline-primary" style=" border-radius: 70px;width: 20%;">Full Time</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><img src="assets/y3.jpg" style="width: 50px;height: 60px;">&nbsp;Assistant /
                    Store Keeper &nbsp; <span style="color: green;font-size: 15px;">Featured</span></h5>
                <p class="card-text">Automotive Jobs, Marketing &nbsp; &nbsp; &nbsp; $450 - $500 / month</p>
                <a href="#" class="btn btn-outline-primary" style=" border-radius: 70px;width: 20%;">Part Time</a>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="center"><button type="button" class="btn btn-primary btn-lg"
        style="background-color: #1967D2; color: white;">Load More Listing</button>
</div><br>




<!-- VIDEO JOB ADS -->
<div class="video-job">
    <div class="row">
        <!-- IMAGE COLUMN -->
        <div class="col-sm-6">
            <div class="widget-video">
                <div class="image-wrapper">
                    <img src="assets/h91.jpg" alt="" style="width: 80%;height: 50%;">
                </div>
            </div>
        </div>
        <!-- TEXT COLUMN -->
        <div class="col-sm-6">
            <h2 style="font-size: 26px;">Video Job Ads: Our Top Pick</h2>
            <p style="color: #696969;font-size: 15px;">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt. Labore et <br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>

            <div class="elementor-element elementor-element-e0df97b elementor-widget elementor-widget-text-editor"
                data-id="e0df97b" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <ul class="list-circle">
                        <li>Creative Study Pattern</li>
                        <li>Quick Crash Courses</li>
                        <li>Certification Awarded</li>
                        <li>Provided with Experimental Examples</li>
                    </ul>
                </div>
            </div>
            
        </div><!-- TEXT COLUMN -->

    </div>
</div>
<br><br>
<!-- COUNT DOWN -->
<div class="container text-center">
    <div class="row">
        <div class="col-sm">
            <div class="elementor-counter-number-wrapper">
                <span class="elementor-counter-number-prefix"></span>
                <span class="elementor-counter-number" data-duration="1000" data-to-value="4" data-from-value="0"
                    data-delimiter=",">4</span>
                <span class="elementor-counter-number-suffix">M</span>
            </div>
            <div class="elementor-counter-title">4 million daily active users</div>

        </div>


        <div class="col-sm">
            <div class="elementor-counter-number-wrapper">
                <span class="elementor-counter-number-prefix"></span>
                <span class="elementor-counter-number" data-duration="1000" data-to-value="4" data-from-value="0"
                    data-delimiter=",">12</span>
                <span class="elementor-counter-number-suffix">K</span>
            </div>
            <div class="elementor-counter-title">Over 12k open job positions</div>

        </div>
        <div class="col-sm">
            <div class="elementor-counter-number-wrapper">
                <span class="elementor-counter-number-prefix"></span>
                <span class="elementor-counter-number" data-duration="1000" data-to-value="4" data-from-value="0"
                    data-delimiter=",">20</span>
                <span class="elementor-counter-number-suffix">M</span>
            </div>
            <div class="elementor-counter-title">Over 20 million stories shared</div>

        </div>
    </div>
</div>
<br><br>

<div class="elementor-container">
    <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default"  style="margin: 0 25px;">Top Company Registered</h2>
    </div>
<br>
    <div class="elementor-element elementor-element-5788f31 elementor-widget elementor-widget-text-editor"
        data-id="5788f31" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container" style="margin: 0 25px;color: #696969;">
            Some of the companies we’ve helped recruit excellent applicants over the years. </div>
    </div>
</div>
<br><br><br><br>
<!-- GRID IMAGES -->

<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/y10.jpg">
        <img src="assets/y10.jpg" alt="Cinque Terre" width="10%" height="20%">
      </a>
      <div class="desc">Sagemnts</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="y9.jpg">
        <img src="assets/y9.jpg" alt="Cinque Terre" width="60" height="40">
      </a>
      <div class="desc">UpWork</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="y8.jpg">
        <img src="assets/y8.jpg" alt="Cinque Terre" width="60" height="40">
      </a>
      <div class="desc">Invision</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="y7.jpg">
        <img src="assets/y7.jpg" alt="Cinque Terre" width="60" height="40">
      </a>
      <div class="desc">Stripe</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="y3.jpg">
        <img src="assets/y3.jpg" alt="Cinque Terre" width="60" height="40">
      </a>
      <div class="desc">Figma</div>
    </div>
  </div>
<br><br><br><br><br><br>
<app-footer></app-footer>