.container-fluid {
    position: relative;
    text-align: center;
    /* color: white; */
}


.image-container-fluid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.text {
    position: absolute;
    top: 40%;
    left: 19%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    margin: 0 30px;
    /* margin: 10px;
    padding: 10px; */
}

.text h2 {
    font-size: 50px;
    margin-bottom: 30px;
    margin: 0 30px;
}

.text p {
    font-size: 18px;
    left: 10%;
    margin: 0 30px;
    padding: 0;
    display: flex;
    color: gray;
}

/* SEARCH AND LOCATION */


.form-search {
    margin: 10px;
    max-width: 1200px;
    /* padding: 20px; */
    /* border: 1px solid #ccc;
    background-color: #f9f9f9; */
    box-shadow: 0 6px 15px 0 rgba(64, 79, 104, 0.05);
    padding: 10px 10px 10px 10px;
    border-radius: 100px 100px 100px 100px;
    border-radius: 45px;
    border: 1px solid #ECEDF2;
    background: #fff;
}

.form-group {
    position: relative;
}

.form-control {
    width: 100%; 
    text-align: center;
    justify-content: center;
    padding: 10px 30px 10px 10px;
    /* border: 1px solid #ccc; */
    border-radius: 25px;
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 19px;
    font-size: 15px;
    line-height: 1.75;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #F0F5F7;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
}

.form-control #one{
    background: transparent;
    border-color: transparent !important;
    max-width: 1200px;
    height: 60px;
    padding: 10px 25px;
    margin: 0;
    background: #F0F5F7;
    height: 50px;
    color: #77838F;
}
.form-control .col-md-4 ::placeholder{
    position: relative;
    min-height: 1px;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding: 16px 25px;
}
.form-control #two{
    background: transparent;
    border-color: transparent !important;
    max-width: 1200px;
    height: 60px;
    padding: 10px 25px;
    margin: 0;
    background: #F0F5F7;
    height: 50px;
    color: #77838F;
}


.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 18px;
    color: #888;
}

.btn-submit {
    display: inline-block;
    width: 60%;
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    height: 60px;
    border: 1px solid transparent;
    white-space: nowrap;
    letter-spacing: 0;
    padding: 9px 30px;
    font-size: 15px;
    line-height: 2;
    transition: all 0.3s ease-in-out 0s;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    /* border-radius: 25px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 60px 60px 60px 60px;
}

.btn-submit:hover {
    background-color: #fff;
    border: 2px solid #0056b3;
    color: #1967D2;
}



/* FOR FIND JOB BUTTON */

/* .flex-middle .col-md-3 {
    width: 25%;
}

.elementor-24 .elementor-element.elementor-element-1d0c2a4 .btn-submit {
    border-radius: 60px 60px 60px 60px;
}

.filter-listing-form .btn-submit {
    height: 60px;
}

.filter-listing-form .btn-submit {
    width: 100%;
}

.btn-theme {
    color: #fff;
    background-color: var(--superio-theme-color);
    border-color: var(--superio-theme-color);
} */

/*------------------------ JOB PORTAL ------------------------*/
.job {
    display: flex;
    font-size: 30px;
    text-align: left;
    margin: 10px;
}

.container-fluid .para {
    display: flex !important;
    font-size: 20px;
    text-align: left;
    margin-left: 12px;
    color: gray;
}

/* <!-- -------------------JOBPORTALS ------------------------> */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.video-job {
    margin: 0 10px;
}

.elementor-24 .elementor-element.elementor-element-e0df97b {
    color: #696969;
}

.elementor-element .elementor-widget-container {
    transition:
        .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}

.list-circle {
    color: #696969;
    padding: 0 15px;
    line-height: 2.5;
}

/* COUNT DOWN */
.elementor-counter-number-wrapper {
    color: #1967D2;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2em;
}

.elementor-counter-number-wrapper {
    display: flex;
    font-size: 69px;
    font-weight: 600;
    line-height: 1;
}

.elementor-counter-title {
    /* text-align: center; */
    display: flex;
    color: gray;
    font-size: 15px;
    font-weight: 400;
    line-height: 2.5;
}

.elementor-widget-container {
    transition: .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}

.elementor-heading-title {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 1;
}

/* GRID IMAGES */
.responsive {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.gallery {
    position: relative;
    text-align: center;
}

.gallery img {
    border-radius: 55px;
}

.desc {
    padding: 10px;
    text-align: center;
}

div.gallery {
    /* border: 1px solid #ccc; */
    border: 1px solid white;
}

div.gallery:hover {
    border: 1px solid #777;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 25px 0 rgba(64, 79, 104, 0.05);
}

div.gallery img {
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
}

div.desc {
    padding: 5px;
    text-align: center;
}

* {
    box-sizing: border-box;
}



.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}




/* Testimonials css */
.Testimonials {
    position: relative;
    text-align: center;
    /* color: red; */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}

.centered .title h3 {
    color: #1967D2;
    font-size: 25px;
    font-weight: 500;
}

/* POPULAR JOB CATEGORIES */
h6 {
    font-size: 18px;
    transition: all 0.3s ease-in-out 0s;
    margin: 0 0 2px;
    cursor: pointer;
}

h6:hover {
    color: #1967D2;
}

.card-subtitle p {
    font-size: 14px;
    color: #696969;
    cursor: pointer;
}

.category-icon:hover {
    color: #1967D2;
}

.category-icon img:hover {
    color: #1967D2;
}

.category-icon {
    width: 50px;
    height: 70px;
    background-color: #ECEDF2;
    color: var(--superio-theme-color);
    width: 80px;
    height: 70px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    display: flex;
    margin: 12px;
}

/* POPULAR JOB CATEGORIES */

/* JOB VACANCY */
.text-block {
    position: absolute;
    bottom: 60px;
    left: 20px;
    /* background-color: black; */
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}