.container-fluid {
    position: relative;
    text-align: center;
    /* color: white; */
}


.image-container-fluid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.text {
    position: absolute;
    top: 50%;
    left: 19%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    margin: 0 30px;
    /* margin: 10px;
    padding: 10px; */
}
.text h2{
    font-size: 50px;
    margin-bottom: 30px;
    margin: 0 30px;
}
.text p {
    font-size: 18px;
    left: 10%;
    margin: 0 30px;
    padding: 0;
    display: flex;
    color: gray;
}

/* SEARCH AND LOCATION */
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.elementor-24 .elementor-element.elementor-element-1d0c2a4 .filter-listing-form {
    padding: 10px 10px 10px 10px;
    border-radius: 100px 100px 100px 100px;
}
.filter-listing-form.horizontal {
    border: 2px solid #ECEDF2;
    background: #fff;
    border-radius: 88px;
    width: 80%;
}
.filter-listing-form.horizontal .has-border{
    border-right: 1px solid #ECEDF2;
}
.col-md-5 {
    width: 41.66667%;
}
.col-xs-12 {
    width: 100%;
}
.filter-listing-form.horizontal .form-group {
    margin-bottom: 0;
}
/* FOR GAP BETWEEN BOTH input */
.filter-listing-form .form-group-inner.has-icon {
    padding-left: 22px;
}
.filter-listing-form .form-group-inner {
    position: relative;
}
/* FOR ICON */
.filter-listing-form .form-group-inner > i {
    color: #696969;
    font-size: 21px;
    line-height: 21px;
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

/* FOR INPUT IN SEARCH BAR */
.filter-listing-form.horizontal .form-control {
    background: transparent;
    border-color: transparent !important;
}
.content-trending p {
    margin-left: 20px;
    display: flex;
}
.form-control {
    height: 60px;
    padding: 10px 25px;
    margin: 0;
    background: #F0F5F7;
    height: 50px;
    color: #77838F;
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.75;
    transition: all 0.3s ease-in-out;
}

/* FOR LOCATION  */
.col-md-4 {
    width: 33.33333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.filter-listing-form.horizontal .form-group {
    margin-bottom: 0;
}
/* FOR LOCATION ICON */
.filter-listing-form .form-group-inner.has-icon {
    padding-left: 22px;
}
.filter-listing-form .form-group-inner {
    position: relative;
}
.filter-listing-form .form-group-inner > i {
    color: #696969;
    font-size: 21px;
    line-height: 21px;
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.filter-listing-form.horizontal .form-control {
    background: transparent;
    border-color: transparent !important;
}

/* FOR DROPDOWN of location */
.filter-listing-form .select2-container--default.select2-container .select2-selection--single .select2-selection__arrow {
    top: 19px;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.filter-listing-form .select2-container--default.select2-container .select2-selection--single {
    height: 60px;
    background-color: white;
}
.filter-listing-form .select2-container--default.select2-container .select2-selection--single .select2-selection__rendered, .filter-listing-form .select2-container--default.select2-container .select2-selection--single .select2-selection__placeholder {
    color: #696969;
}
.filter-listing-form .select2-container--default.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 16px 25px;
}
.select2-container--default.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 10px 20px;
}
.filter-listing-form .select2-container--default.select2-container .select2-selection--single .select2-selection__placeholder {
    color: #696969;
}
default.select2-container .select2-selection--single .select2-selection__arrow {
    top: 19px;
}
.filter-listing-form .select2-container--default.select2-container .select2-selection--single .select2-selection__arrow {
    right: 0;
}
.select2-container--default.select2-container .select2-selection--single .select2-selection__arrow {
    top: 11px;
    right: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

/* FOR FIND JOB BUTTON */

.flex-middle .col-md-3 {
    width: 25%;
}
.elementor-24 .elementor-element.elementor-element-1d0c2a4 .btn-submit {
    border-radius: 60px 60px 60px 60px;
}
.filter-listing-form .btn-submit {
    height: 60px;
}
.filter-listing-form .btn-submit {
    width: 100%;
}
.btn-theme {
    color: #fff;
    background-color: var(--superio-theme-color);
    border-color: var(--superio-theme-color);
}

/*------------------------ JOB PORTAL ------------------------*/
.job {
    display: flex;
    font-size: 30px;
    text-align: left;
    margin: 10px;
}

.container-fluid .para {
    display: flex !important;
    font-size: 20px;
    text-align: left;
    margin-left: 12px;
    color: gray;
}

/* <!-- -------------------JOBPORTALS ------------------------> */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
  }
  
  .video-job{
    margin: 0 10px;
  }
  .elementor-24 .elementor-element.elementor-element-e0df97b {
    color: #696969;
}
.elementor-element .elementor-widget-container {
    transition:
    .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
}
.list-circle {
    color: #696969;
    padding: 0 15px;
    line-height: 2.5;
}

/* COUNT DOWN */
.elementor-counter-number-wrapper {
    color: #1967D2;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2em;
}
 .elementor-counter-number-wrapper {
    display: flex;
    font-size: 69px;
    font-weight: 600;
    line-height: 1;
}
.elementor-counter-title {
    /* text-align: center; */
    display: flex;
    color: gray;
    font-size: 15px;
    font-weight: 400;
    line-height: 2.5;
}
.elementor-widget-container {
    transition: .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
}
.elementor-heading-title {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 1;
}

/* GRID IMAGES */
.responsive {
    width: 100%;
    max-width: 250px; 
    margin: 0 auto;
  }
  
  .gallery {
    position: relative;
    text-align: center;
  }
  .gallery img {
    border-radius: 55px; 
  }
  
  .desc {
    padding: 10px;
    text-align: center;
  }
div.gallery {
    /* border: 1px solid #ccc; */
    border: 1px solid white;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 25px 0 rgba(64, 79, 104, 0.05);
  }
  
  div.gallery img {
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  
  div.desc {
    padding: 5px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  


  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  



/* Testimonials css */
.Testimonials{
    position: relative;
  text-align: center;
  /* color: red; */
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
  }

.centered .title h3 {
color: #1967D2;
font-size: 25px;
font-weight: 500;
}

/* POPULAR JOB CATEGORIES */
h6{
    font-size: 18px;
    transition: all 0.3s ease-in-out 0s;
    margin: 0 0 2px;
    cursor: pointer;
}
h6:hover{
   color: #1967D2;
}
.card-subtitle p{
    font-size: 14px;
    color: #696969;
    cursor: pointer;
}
.category-icon:hover{
    color: #1967D2;
}
.category-icon img:hover{
color: #1967D2;
}
.category-icon{
    width: 50px;
    height: 70px;
    background-color: #ECEDF2;
    color: var(--superio-theme-color);
    width: 80px;
    height: 70px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    display: flex;
    margin: 12px;
}

/* POPULAR JOB CATEGORIES */

/* JOB VACANCY */
.text-block {
    position: absolute;
    bottom: 60px;
    left: 20px;
    /* background-color: black; */
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  