.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  .inner .number-count{
    color: #1967D2;
    font-weight: 500;
    line-height: 1;
    font-size: 25px;
    margin-bottom: 5px;

  }

  /* graph section */
  .row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-sm-8 {
    width: 66.66667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}

.inner-list {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ECEDF2;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 6px 15px 0 rgba(64, 79, 104, 0.05);
    box-shadow: 0 6px 15px 0 rgba(64, 79, 104, 0.05);
}
.title-small {
    font-size: 18px;
    margin: 0 0 25px;
}
h3{
    font-family: var(--superio-heading-font), Arial, sans-serif;
    font-weight: 500;
    line-height: 1.3;
    color: #202124;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
iframe {
    overflow-clip-margin: content-box !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow: clip !important;
}
canvas{
    display: inline-block;
    vertical-align: baseline;
}
canvas{
    aspect-ratio: auto 782 / 390;
}

canvas {
    overflow-clip-margin: content-box;
    overflow: clip;
}
@media (min-width: 768px){
.col-sm-4 {
    float: left;
    width: 33.33333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}}

.inner-list {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ECEDF2;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 0 6px 15px 0 rgba(64, 79, 104, 0.05);
}
@media (min-width: 768px)
{
.dashboard-notifications {
    height: 548px;
}
.dashboard-notifications {
    height: 300px;
}}
.dashboard-notifications-wrapper {
    position: relative;
    max-height: calc(100% - 50px);
}
.ps-container {
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden !important;
    -ms-overflow-style: none;
}
.ps-container {
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden !important;
    -ms-overflow-style: none;
}
.dashboard-notifications-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dashboard-notifications-wrapper ul, ol {
    margin-top: 0;
    margin-bottom: 13px;
}
.dashboard-notifications-wrapper ol, ul {
    box-sizing: border-box;
}
.dashboard-notifications-wrapper li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.dashboard-notifications-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dashboard-notifications-wrapper ul i.flaticon-envelope, .dashboard-notifications-wrapper ul i.flaticon-briefcase {
    color: #34A853;
    background: rgba(52, 168, 83, 0.1);
}
.dashboard-notifications-wrapper ul i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 35px;
    color: var(--superio-theme-color);
    background-color: var(--superio-theme-color-015);
}
.dashboard-notifications-wrapper ul .text {
    margin-top: 3px;
    display: inline-block;
}
small, .small {
    font-size: 86%;
}
small {
    font-size: 80%;
}
small {
    font-size: smaller;
}
.dashboard-notifications-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ps-container>.ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 0px;
    height: 15px;
}
.ps-container>.ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 0px;
    height: 15px;
}

.ps-container>.ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 0;
    width: 15px;
}
.ps-container>.ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 0;
    width: 15px;
}