
<section class="top-nav">
  <div class="logo">
    <a routerLink="/">
      <img
        src="assets/logo.svg"
        alt=""
        style="
          width: 100%;
          height: 50px;
          border-radius: 50%;
          box-sizing: border-box;
          vertical-align: middle;
        "
      />
    </a>
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul class="menu">
    <li><a href="">Home </a></li>

    <li>
      <a href="">Find Jobs</a>
      <ul class="submenu-content">
        <li><a href="">Job Category 1</a></li>
        <li><a href="">Job Category 2</a></li>
      </ul>
    </li>
    <li>
      <a href="">Employer</a>
      <ul class="submenu-content">
        <li><a href="">Employer Services</a></li>
        <li><a href="">Post a Job</a></li>
      </ul>
    </li>
      <li><a href="">Candidates</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Pages</a></li>
      <li><button id="button1" (click)="openLg(longContent )">Login\Register</button></li>
      <li><button id="button2">Add Jobs</button></li>
    </ul>
  </section>



  
    <ng-template #longContent let-modal>
      <div class="modal-header" >
        <h5 class="title">Login to superio account</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
  <br>
       <div class=" p-5 form-table">
        <div id="cmb2-metabox-_candidate_register_fields" class="cmb2-metabox cmb-field-list">
          <div class="cmb-row cmb-type-text cmb2-id--candidate-email table-layout" data-fieldtype="text">
            <div class="cmb-th" >Email <span class="required">*</span></div>
              <div class="cmb-td">
                <input type="text" class="regular-text w-100" name="_candidate_email" id="_candidate_email" value="" data-hash="5d52tsq4k6r0" placeholder="Email" required="1">
              </div>
        </div>
        <br>
  
        <div class="row form-group info">
          <div class="col-sm-6">
            <label for="user-remember-field5207" class="remember">
              <input type="checkbox" name="remember" id="user-remember-field5207" value="true"> &nbsp;Keep me signed in					
            </label>
          </div>
        </div>
        <br>
        <br>
        <button class="w-100 btn register-btn btn-lg" (click)="openOt(lonContent )" (click)="modal.dismiss('Cross click')">Send OTP</button>
  
        <div class="login-info">
          Don't you have an account?			
        <a class="apus" (click)="openRs(content)" (click)="modal.dismiss('Cross click')">Register</a>   
       </div>
      </div>
    </div>
  <!-- </div> -->
</ng-template>

<!-- SEND OTP -->

<ng-template #lonContent let-modal>
  <div class="modal-header">
    <h5 class="title">Please Eneter OTP</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <br />
  <div class="p-5 form-table">
    <div
      id="cmb2-metabox-_candidate_register_fields"
      class="cmb2-metabox cmb-field-list"
    >
      <div
        class="cmb-row cmb-type-text cmb2-id--candidate-email table-layout"
        data-fieldtype="text"
      >
        <div class="cmb-th">Enter OTP <span class="required">*</span></div>
        <div class="cmb-td">
          <input
            type="text"
            class="regular-text w-100"
            name="_candidate_email"
            id="_candidate_email"
            value=""
            data-hash="5d52tsq4k6r0"
            placeholder="OTP"
            required="1"
          />
        </div>
      </div>

      <br />

      <div class="row form-group info">
        <div class="col-sm-6">
          <label for="user-remember-field5207" class="remember">
            <input
              type="checkbox"
              name="remember"
              id="user-remember-field5207"
              value="true"
            />
            &nbsp;Keep me signed in
          </label>
        </div>
      </div>

      <br />
      <br />
      <button class="w-100 btn register-btn btn-lg">Login</button>

      <a
        class="apus"
        (click)="openLg(longContent)"
        (click)="modal.dismiss('Cross click')"
        >Back To Login</a
      >

      <!-- <div class="login-info">
          Don't you have an account?			
        <a class="apus" (click)="openRs(content)" (click)="modal.dismiss('Cross click')">Register</a>   
       </div> -->
    </div>
  </div>
</ng-template>

<!-- Register Employer -->
<!-- Register Employer -->
<!-- Register Employer -->
<!-- Register Employer -->
<!-- Register Employer -->

<ng-template #content let-modal modal-lg class="modal-content">
  <div class="modal-header">
    <h4 class="title">Create a free superio account</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <br />

  <form [formGroup]="registrationForm">
    <div class="topbutton">
      <!-- <button type="button" class="btn btn-employer btn-lg"[style.backgroundColor]="isActive ? '#34A853' : 'red'"(click)="toggleActive()" style="height: 50px;">Employer</button> -->
      <!-- <button type="button" class="btn btn-contractor btn-lg"[style.backgroundColor]="isActive ?  '#34A853' : 'red'"(click)="toggleActive()" style="height: 50px;">Contractor</button> -->

      <button
        type="button"
        class="btn btn-employer btn-lg"
        style="height: 50px"
      >
        Employer
      </button>
      <button
        type="button"
        class="btn btn-contractor btn-lg"
        style="height: 50px"
      >
        Contractor
      </button>
    </div>

    <div class="p-5 form-table">
      <div class="row">
        <div class="col-6">
          <div class="cmb-th">First Name <span class="required">*</span></div>
          <div class="cmb-td">
            <input
              type="text"
              class="regular-text "
              name="_candidate_first_name"
              id="_candidate_first_name"
              formControlName="firstName"
              data-hash="5d52tsq4k6r0"
              placeholder="First Name"
              required="1"
              [ngClass]="{ 'is-invalid': submitted && firstName.errors }"
            />
            <div
              class="text-danger"
              *ngIf="firstName.errors?.['required'] && (firstName.touched || firstName.dirty || submitted)"
            >
              First Name is Required.
            </div>

            <!-- </div> -->
          </div>
        </div>
        <div class="col-6">
          <div class="cmb-th">Last Name <span class="required">*</span></div>
          <div class="cmb-td">
            <input
              type="text"
              class="regular-text "
              name="_candidate_last_name"
              id="_candidate_last_name"
              formControlName="lastName"
              data-hash="5d52tsq4k6r0"
              placeholder="Last Name"
              required="1"
              [ngClass]="{ 'is-invalid': submitted && firstName.errors }"
            />
            <div
              class="text-danger"
              *ngIf="lastName.errors?.['required'] && (lastName.touched || lastName.dirty || submitted)"
            >
              Last Name is Required.
            </div>
          </div>
        </div>

    

        <!-- <div
          class="cmb-row cmb-type-text cmb2-id--candidate-email table-layout"
          data-fieldtype="text"> -->

       <div class="col-6">
        <div class="cmb-th">Email <span class="required">*</span></div>
          <div class="cmb-td">
            <input
              type="email"
              class="regular-text "
              name="_candidate_email"
              id="_candidate_email"
              value=""
              formControlName="email"
              data-hash="5d52tsq4k6r0"
              placeholder="Email"
              required="1"
              [ngClass]="{ 'is-invalid': submitted && email.errors }"
            />
            <div
              class="text-danger"
              *ngIf="email.errors?.['required'] && (email.touched || email.dirty || submitted)"
            >
              Email is Required.
            </div>
            <div
              class="form-text text-danger"
              *ngIf="email.errors?.['email'] && (email.touched || email.dirty)"
            >
              Email is Invalid.
            </div>
          </div>
        </div>

        <!-- <div
          class="cmb-row cmb-type-text cmb2-id--candidate-mobile table-layout"
          data-fieldtype="text"
        > -->
        <div class="col-6">
          <div class="cmb-th">Mobile <span class="required">*</span></div>
          <div class="cmb-td">
            <input
              type="number"
              class="regular-text"
              formControlName="mobile"
              name="_candidate_mobile"
              id="_candidate_mobile"
              value=""
              data-hash="5d52tsq4k6r0"
              placeholder="Mobile"
              required="1"
              [ngClass]="{ 'is-invalid': submitted && mobile.errors }"
            />
            <div
              class="text-danger"
              *ngIf="mobile.errors?.['required'] && (mobile.touched || mobile.dirty || submitted)"
            >
              Mobile no. is Required.
            </div>
          </div>
        </div>

        <div
          class="cmb-row cmb-type-text cmb2-id--candidate-address table-layout"
          data-fieldtype="text"
        >
          <div class="cmb-th">Address <span class="required">*</span></div>
          <div class="cmb-td">
            <input
              type="text"
              class="regular-text" style="width: 98%;"
              name="_candidate_address"
              formControlName="address"
              id="_candidate_address"
              value=""
              data-hash="5d52tsq4k6r0"
              placeholder="Enter Address"
              required="1"
              [ngClass]="{ 'is-invalid': submitted && address.errors }"
            />
            <div
              class="text-danger"
              *ngIf="address.errors?.['required'] && (address.touched || address.dirty || submitted)"
            >
              Address is Required.
            </div>
          </div>
        </div>

 
    <div class="cmb-row cmb-type-text cmb2-id--candidate-city table-layout" data-fieldtype="text">
      <div class="cmb-th" >City<span class="required">*</span></div>
        <div class="cmb-td">
          <input type="text" class="regular-text w-100" name="_candidate_city" formControlName="city" id="_candidate_city" value="" data-hash="5d52tsq4k6r0" placeholder="City" required="1"
          [ngClass]="{ 'is-invalid': submitted && city.errors}">
          <div class=" text-danger" *ngIf="city.errors?.['required'] && (city.touched || city.dirty || submitted)">
            City is Required.
        </div>
        </div>
    </div> -->

       <br />
       <div>
        <input type="checkbox"/>&nbsp;&nbsp;You accept our Terms and Conditions
        and Privacy Policy
       </div> 
        <br />
        <br />
        <button
          class="w-100 btn register-btn btn-lg"
          (click)="onSubmitEmployeData()"
        >
          Register Now
        </button>

        <div class="login-info">
          Already have an account?
          <a
            class="apus"
            (click)="openLg(longContent)"
            (click)="modal.dismiss('Cross click')"
            >Login</a
          >
        </div>
      </div>
    </div>
  </form>
</ng-template>
