
<section class="top-nav">
    <div class="logo">
        <a routerLink="/">
            <img src="assets/logo.svg" alt=""
                style="width:100%; height: 50px; border-radius: 50%; box-sizing: border-box; vertical-align: middle;">
        </a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li> <a href="">Home </a></li>

      <li> <a href="">Find Jobs</a>
        <ul class="dropdown">
            <li><a href="">Job Category 1</a></li>
            <li><a href="">Job Category 2</a></li>
        
        </ul>
    </li>
      <li><a href="">Employer</a>
        <ul class="submenu-content">
            <li><a href="">Employer Services</a></li>
            <li><a href="">Post a Job</a></li>
        
        </ul>
    </li>
      <li><a href="">Candidates</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Pages</a></li>
      <li><button id="button1">Login\Register</button></li>
      <li><button id="button2">Add Jobs</button></li>
    </ul>
  </section>

 