

<footer class="footer" style="position: relative;">
    <img src="assets/bg-footer.jpg" alt="" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
    <div class="footer__addr" style="position: relative; z-index: 1;">
     
    </div>

    <ul class="footer__nav" style="position: relative; z-index: 1;">


        <li class="nav__item">
            <div class="footer__left" style="margin-top: 1px;">
                <a routerLink="/">
                    <img src="assets/logo.svg" alt=""
                        style="width: 100%; height: 50px; border-radius: 20%; box-sizing: border-box;">
                </a>
            </div>
    
            <h2 style="font-size: 18px;">Call Us</h2>
            <h2 style="color: #1967D2; font-size: 18px; font-family: var(--superio-heading-font), Arial, sans-serif; font-weight: 500">123 456 7890</h2>
    
            <address>
                328 Queensberry Street, North Melbourne VIC, <br>3051, Australia. <br> support@superio.com<br>
            </address>
        </li>

        <li class="nav__item">
            <h2 class="nav__title" style="font-size: 18px;">For Candidates</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#" style="font-size: 16px;">Browse Jobs</a>
                </li>

                <li>
                    <a href="#"  style="font-size: 16px;">Browse Candidates</a>
                </li>

                <li>
                    <a href="#"  style="font-size: 16px;">Candidate Dashboard</a>
                </li>
            </ul>
        </li>

        <li class="nav__item nav__item--extra">
            <h2 class="nav__title" style="font-size: 18px;">For Employers</h2>

            <ul class="nav__ul nav__ul--extra">
                <li>
                    <a href="#"  style="font-size: 16px;"> All Employers</a>
                </li>

                <li>
                    <a href="#"  style="font-size: 16px;">Employer Dashboard</a>
                </li>

                <li>
                    <a href="#"  style="font-size: 16px;">Submit Job</a>
                </li>

                <li>
                    <a href="#"  style="font-size: 16px;">Job Packages</a>
                </li>
            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title" style="font-size: 18px;">About Us</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#"  style="font-size: 16px;">Contact Us</a>
                </li>

                <li>
                    <a href="#"  style="font-size: 16px;">About Us</a>
                </li>

                <li>
                    <a href="#"  style="font-size: 16px;">Terms</a>
                </li>
            </ul>
        </li>
    
    </ul>
<br><br><br>
    <div class="legal" style="position: relative; z-index: 1;">
        <p>&copy; 2021 Superio. All Rights Reserved.</p>

        <div class="legal__links">
            <div class="col item social">
                <a href="#"><i class="fa fa-facebook-square" style="font-size: 24px;color: black;"></i></a>
                <a href="#"><i class="fab fa-twitter" style="font-size: 24px;color: black;"></i></a>
                <a href="#"><i class="fa fa-snapchat" style="font-size: 24px;color: black;"></i></a>
                <a href="#"><i class="fa fa-instagram" style="font-size: 24px;color: black;"></i></a>
            </div>
        </div>
    </div>
</footer>





<!-- <footer class="footer">

    <img src="assets/bg-footer.jpg" alt="" style="display: inline-block;width: 100%;height: 100%;">
    <div class="footer__addr">
        <div class="footer__left">
            <a routerLink="/">
                <img src="assets/logo.svg" alt=""
                    style="width:100%; height: 50px; border-radius: 50%; box-sizing: border-box;">
            </a>
        </div>

        <h2>Call Us</h2>
      <h2 style="color: #1967D2;font-size: 18px;font-family: var(--superio-heading-font), Arial, sans-serif;font-weight: 500">123 456 7890</h2>

        <address>
            328 Queensberry Street, North Melbourne VIC, <br>3051 ,Australia. <br> support@superio.com<br>
        </address>
    </div>

    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title">For Candidates</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#">Browse Jobs</a>
                </li>

                <li>
                    <a href="#">Browse Candidates</a>
                </li>

                <li>
                    <a href="#">Candidate Dashboard</a>
                </li>
            </ul>
        </li>

        <li class="nav__item nav__item--extra">
            <h2 class="nav__title">For Employers</h2>

            <ul class="nav__ul nav__ul--extra">
                <li>
                    <a href="#"> All Employers</a>
                </li>

                <li>
                    <a href="#">Employer Dashboard</a>
                </li>

                <li>
                    <a href="#">Submit Job</a>
                </li>

                <li>
                    <a href="#">Job Packages</a>
                </li>
            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title">About Us</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#">Contact Us</a>
                </li>

                <li>
                    <a href="#">About Us</a>
                </li>

                <li>
                    <a href="#">Terms</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="legal">
        <p>&copy; © 2021 Superio. All Right Reserved.</p>

        <div class="legal__links">
            <div class="col item social">
                <a href="#"><i class="fa fa-facebook-square" style="font-size:24px"></i></a>
                <a href="#"><i class='fab fa-twitter' style='font-size:24px'></i></a>
                <a href="#"><i class="fa fa-snapchat" style="font-size:24px"></i></a>
                <a href="#"><i class="fa fa-instagram" style="font-size:24px"></i></a>
            </div>
        </div>
    </div>
</footer> -->