<div class="card">
    <div class="middle">
        <h4 class="role">Add Role/Permission</h4>
        <div class="form">
            <div class="cmb-th">
                <label class="_job_tag">Add Roles<span class="required">*</span></label>
                <br />
                <input type="text" class="regular-text" value="">
                <button type="button" class="btn btn-primary" style="width: 80px; margin-left: 10px;"> Save </button>
            </div>
            <div class="cmb-th">
                <label class="_job_tag">Add Permission<span class="required">*</span></label>
                <br />
                <input type="text" class="regular-text" value="">
                <button type="button" class="btn btn-primary" style="width: 80px; margin-left: 10px;"> Save </button>
            </div>
        </div>
        <h4 class="role">Assign Role/Permission</h4>
        <br />
        <div class="drop">
            <div class="addRole">
                <h4 style="font-weight: bold;">Role</h4>
                <mat-form-field>
                    <mat-label> Add Role</mat-label>
                    <mat-select>
                        <input type="text" class="form-control" placeholder="Search Role"
                            (input)="onSearchs($any($event).target.value)">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let role of roles" [value]="role.id">
                            {{role.role}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="">
                <h4 style="font-weight: bold;">Permission</h4>
                <mat-form-field>
                    <mat-label>Add Permission</mat-label>
                    <mat-select>
                        <input type="text" class="form-control" placeholder="Search Permission"
                            (input)="onSearch($any($event).target.value)">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let permission of permissions" [value]="permission.id">
                            {{permission.permisson}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button type="button" class="btn btn-primary"
                style=" height: 40px; width: 80px; margin-top: 50px; margin-right: 20px;"> Submit
            </button>
        </div>
        <div class="list">
            <h2 class="head">Lists</h2>
            <mat-list class="item">
                <mat-list-item>S.No</mat-list-item>
                <mat-list-item>Role</mat-list-item>
                <mat-list-item>Permission</mat-list-item>
            </mat-list>
        </div>
    </div>
</div>