<aside class="sidebar" style="background-color: white;">


    <!-- <h3>Contents</h3> -->
    <div class="user-short-profile">
        <div class="user-logo">
            <a href="#">
                <img src="assets/member4.jpg" alt="Candidate Image">
            </a>
        </div>
        <div class="inner">
            <h3 class="title">
                <a href="#">Candidate</a>
            </h3>
            <div class="candidate-location">
                <a href="#">New York</a>
            </div><br>
            <div class="view-profile">
                <a href="#" class="btn">View Profile</a>
            </div>
        </div>
    </div>


    <nav>
        <ul>
            <li class="active menu-item"
                style="background-color: rgb(25 103 210 / 10%);color: #1967D2;padding: 17px 20px;border-radius: 10px;">
                <a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color: #1967D2;font-size: 15px;"><i
                        class='far fa-address-card' style='font-size:18px'></i>&nbsp;User Dashboard</a></li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="flaticon-businessman" class='fas fa-user-tie' style='font-size:18px'></i>
                    &nbsp;Profile</a></li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="flaticon-resume" class="fa fa-file-text-o" style="font-size:18px"></i>&nbsp;My Resume</a>
            </li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="flaticon-megaphone" class="fa fa-bullhorn" style="font-size:18px"></i>&nbsp;My
                    Applied</a></li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="flaticon-bookmark" class="fa fa-file-o" style="font-size:18px"></i>&nbsp;Shortlist
                    Jobs</a></li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="flaticon-user" class='fas fa-user-alt' style='font-size:18px'></i>&nbsp;Following
                    Employers</a></li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="flaticon-megaphone" class="fa fa-bullhorn" style="font-size:18px"></i>&nbsp;Alerts
                    Jobs</a></li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="flaticon-chat" class='far fa-comments' style='font-size:18px'></i>&nbsp;Messages</a></li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="flaticon-support" class='fas fa-id-card-alt'
                        style='font-size:18px'></i>&nbsp;Meetings</a></li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="flaticon-password" class='fas fa-lock' style='font-size:18px'></i>&nbsp;Change
                    Password</a></li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="flaticon-trash" class='fas fa-trash' style="font-size:18px;"></i>&nbsp;Delete Profile</a>
            </li>
            <li class="menu-item"><a href="#"
                    style="background: transparent;text-decoration: none;cursor: pointer;color:#696969;font-size: 15px;"><i
                        class="ti-power-off" class="fa fa-power-off" style="font-size:18px"></i>&nbsp;Logout</a></li>

        </ul>
    </nav>
</aside>

<!-- <section class="main">
    <h2>Contant</h2>
    
  </section> -->
<script>
    $(function () {
        $('.toggle-menu').click(function (e) {
            e.preventDefault();
            $('.sidebar').toggleClass('toggled');
        });
    });
</script>