<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="box-dasboard-wrapper">
  <div class="btnallign">
  <h3 class="widget-tittle">All Users</h3>
  <button class="addubtn"> <i class="fa fa-plus"></i>&nbsp;&nbsp;Add</button>
  </div>
  <div class="inner-list">
      <div class="search-orderby-wrapper flex-middle-md">
        <div class="row">
        <div class=" sortby col-6"  style="width: 100%;">
          <div class="search-applicants-form">
              <form action="" method="get" class="my-jobs-ordering">
                  <div class="flex-middle">
                      <button class="search-submit btn btn-sm btn-search" name="submit">
                        <i class="flaticon-magnifiying-glass"></i>
                      </button>
                      <i class="fa fa-search"></i>
                      <input type="text" placeholder="Search ..." class="form-control" name="search" value="">
                      <select name="job_id" class="filter" tabindex="-1" aria-hidden="true" style="color: gray;">
                        <option value="">Filter by job</option>
                        <option value="4540">Junior Graphic Designer (Web)</option>													    
                      </select>
                  </div>
                  <input type="hidden" name="paged" value="1">
              </form>
          </div>
          <div  class="orderby-wrapper flex-middle"> 
            <span class="text-sort">
              Sort by: 					
            </span>
            <form class="my-jobs-ordering" method="get">
              <select name="orderby" class="orderby select2-hidden-accessible" tabindex="-1" aria-hidden="true" style="color: gray;">
                      <option value="menu_order">Default</option>
                      <option value="newest" selected="selected">Newest</option>
                      <option value="oldest">Oldest</option>
              </select>
              <span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;">
               <span class="selection"><span class="select2-selection select2-selection--single" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-orderby-aq-container" role="combobox">
               <!-- <span class="select2-selection__rendered" id="select2-orderby-aq-container" role="textbox" aria-readonly="true" title="Newest">Newest</span><span class="select2-selection__arrow" role="presentation">
              </span> -->
              <span class="select2-selection__arrow" role="presentation">
                <b role="presentation"></b>
              </span>
            </span>
          </span>
          <span class="dropdown-wrapper" aria-hidden="true"></span>
        </span>
         <input type="hidden" name="paged" value="1">
           </form>
          </div>
        </div> 

        <div class=" sortby col-6" >
          <div class="sort-applicants-form sortby-form">
          </div>  
        </div>
        </div>  

        </div>
        
        <div class="job-applicants" style="border-radius: 8px;">
					<div class="sortby row flex-middle-sm">
						<div class="">
							<h5 class="job-title"> <b>Employees</b>
              <div class="inner-result flex-middle">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                  <label class="btn btn-outline-primary" for="btnradio1">Employees</label>
                
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio2">Contractor</label>
                
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio3">Company</label>
                </div>
              </div>
            </h5>
						</div>
						<!-- <div class="">
							<div class="inner-result flex-middle">
								<div class="total-applicants show-total-applicants active" data-job_id="4540" data-nonce="d04b94c0c4">
									Employees: <span class="number">27</span>								
                                </div>
								<div class="approved-applicants show-approved-applicants" data-job_id="4540" data-nonce="d1c9e0cb76">
									Contractor: <span class="number">8</span>								
                                </div>
								<div class="rejected-applicants show-rejected-applicants" data-job_id="4540" data-nonce="3f25519073">
									Company: <span class="number">1</span>								
                               </div>
							</div>
						</div> -->
					</div>
          <hr>
					<!-- <div class="applicants-wrapper">
					<div class="applicants-inner"></div>
					 <form class="applicants-pagination-form">
							<button class="apus-loadmore-btn">Load more</button>
								<input type="hidden" name="paged" value="3">
								<input type="hidden" name="job_id" value="4540">
					</form>
																
								
					</div> -->

       <div class="carddetails">
          <div class="job-applicants" style="border-radius: 8px;">
            <div class="sortby row flex-middle-sm">
              <div class="icf">
                <div>
                <div class="d-flex">
                <div class="rolehead">Vikash</div>
                <button class="rolebtn">Pending</button>
              </div>
                <h3 class="job-title1">Angular Developer</h3>
                <i class="fa fa-clock-o"></i> <i style="color: gray;"> &nbsp;Applied date: August 8, 2023</i>
            </div>
                <div class="micon">
                    <i class="fa fa-plus"></i>
                   &nbsp;&nbsp;&nbsp; <i class="fa fa-refresh"></i>
                   &nbsp;&nbsp;&nbsp; <i class="fa fa-check"></i>
                   &nbsp;&nbsp;&nbsp;<i class="fa fa-download"></i>
                   &nbsp;&nbsp;&nbsp;<i class="fa fa-close"></i>
                  </div>
              </div>
            </div> 
          </div>

          <br />

          <div class="job-applicants" style="border-radius: 8px;">
            <div class="sortby row flex-middle-sm">
              <div class="icf">
                <div>
                <div class="d-flex">
                <div class="rolehead">Aman</div>
                <button class="rolebtn">Pending</button>
              </div>
                <h3 class="job-title1">Reactjs Developer</h3>
                <i class="fa fa-clock-o"></i> <i style="color: gray;"> &nbsp;Applied date: August 8, 2023</i>
            </div>
                <div class="micon">
                    <i class="fa fa-plus"></i>
                   &nbsp;&nbsp;&nbsp; <i class="fa fa-refresh"></i>
                   &nbsp;&nbsp;&nbsp; <i class="fa fa-check"></i>
                   &nbsp;&nbsp;&nbsp;<i class="fa fa-download"></i>
                   &nbsp;&nbsp;&nbsp;<i class="fa fa-close"></i>
                  </div>
              </div>
            </div> 
          </div>
          <br />
          <div class="job-applicants" style="border-radius: 8px;">
            <div class="sortby row flex-middle-sm">
              <div class="icf">
                <div>
                <div class="d-flex">
                <div class="rolehead">hhhhh</div>
                <button class="rolebtn">Pending</button>
              </div>
                <h3 class="job-title1">Junior Graphic Designer</h3>
                <i class="fa fa-clock-o"></i> <i style="color: gray;"> &nbsp;Applied date: August 8, 2023</i>
            </div>
                <div class="micon">
                    <i class="fa fa-plus"></i>
                   &nbsp;&nbsp;&nbsp; <i class="fa fa-refresh"></i>
                   &nbsp;&nbsp;&nbsp; <i class="fa fa-check"></i>
                   &nbsp;&nbsp;&nbsp;<i class="fa fa-download"></i>
                   &nbsp;&nbsp;&nbsp;<i class="fa fa-close"></i>
                  </div>
              </div>
            </div> 
          </div>

        </div>
          
          
				</div>
      
        
      
</div>
